<div class="container d-flex flex-column justify-content-end align-items-center py-4">
  <div class="row">
    <div class="d-flex flex-column justify-content-center align-items-center col-12 text-center">
      <h1>Get a clear view of the day ahead</h1>
      <p class="mt-2">All your tasks that are due today will show up here.</p>
    </div>
    <div class="d-grid gap-2 d-md-block text-center">
      <button class="btn btn-primary border-0 mt-3" type="button" style="background-color:#7300e6">
        <a class="nav-link text-light fs-5" routerLink="/tasks">Adds tasks</a>
      </button>
    </div>
  </div>
</div>
<lib-images-list></lib-images-list>
