<section class="container py-5">
  <div class="row">
    <div class="form-floating ms-5">
      <textarea class="form-control w-50" placeholder="Leave a comment here" id="floatingTextarea2"
        style="height: 100px"></textarea>
      <label for="floatingTextarea2" class="text-secondary ms-3">Write your message here</label>
      <button type="button" class="btn btn-lg mt-3 me-3 text-light" disabled style="background-color:#7300e6">Add
        tasks</button>
      <button type="button" class="btn border-secondary btn-lg mt-3" disabled>Cancel</button>
    </div>
  </div>
</section>
<lib-images-list></lib-images-list>
